{% extends 'template.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
  <div class="container">
      <div class="panel panel-primary">
        <div class=" panel-heading">
         <i class="icon_menu"></i> Famille
         </div>
          <div class="panel-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ famille.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ famille.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('famille_index') }}"class="btn btn-warning">back to list</a>

    <a href="{{ path('famille_edit', {'id': famille.id}) }}"class="btn btn-success">edit</a>

    {{ include('famille/_delete_form.html.twig') }}
        </div>
            </div>
                </div>
{% endblock %}
